@mixin input-style {
  border: none;
  border-bottom: 1px solid gray;
  height: 40px;
  width: 100%;
  padding: 0 5px;
  font-size: 16px;
  box-sizing: border-box;
  &:focus {
    outline: none;
  }
}
.app-title {
  text-align: center;
  margin: 25px auto 50px auto;
}

.todo-input {
  @include input-style;
}

.no-todos {
  display: flex;
  visibility: visible;
  width: 100%;
  height: 100px;
  align-items: center;
  justify-content: center;
  transition: all 250ms linear;
}

.todo-item {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;

  .todo-item-left {
    display: flex;
    flex-direction: row;
    margin: 25px 0;
    position: relative;
    height: 40px;
    width: 100%;
    align-items: center;
    input[type='checkbox'] {
      margin-right: 5%;
    }
    .completed {
      text-decoration: line-through;
    }
    .todo-item-edit {
      @include input-style;
    }
  }
  .remove-item {
    cursor: pointer;
    font-size: 2em;
  }
}

.todo-footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-top: 1px solid black;
}
